JENKINS_VERSION=latest
JENKINS_WEB_PORT=8080
JENKINS_AGENT_PORT=50000
JENKINS_DOCKER_TLS_VERIFY=1
JENKINS_DOCKER_CERT_PATH=/certs/client
JENKINS_DOCKER_HOST=tcp://docker:2376

SOCAT_VERSION=1.7.4.4
SOCAT_PORT=2375
SOCAT_DOCKER_PATH=/var/run/docker.sock
